header {
    display: flex;
    padding: 50px 5%;
    justify-content: space-between;
}

header div {
    display: flex;
    font-weight: lighter;
    font-size: 18px;
}

#homepage main {
    text-align: center;
}

#homepage main h2 {
    font-size: 42px;
}

#homepage main p {
    display: flex;
    font-size: 24px;
    padding: 0 25%;
}

#startBtn {
    padding: 25px;
    border-radius: 28px;
    margin: 35px;
    font-size: 35px;
}

#quizPage {
    display: none;
}

#quizMain {
    text-align: left;
    margin: 0 25%;
}

#question {
    font-size: 32px;
}
#rightWrong {
    font-size: 44px;
    font-weight: lighter;
}

#answerButtons {
    flex: display;
    flex-flow: column;
}

.answerBtn {
    font-size: 25px;
    padding: 8px;
    margin: 15px;
    border-radius: 5px;
    width: 350px;
}

#completePage {
    display: none;
}

#completeMain {
    text-align: left;
    margin: 0 25%;
}

#completePage form, p {
    font-size: 24px;
}

#completePage input {
    font-size: 18px;
}

#initialBtn {
    font-size: 24px;
    margin: 15px 0px;
}
#highScores {
    display: none;
}

#scoreMain {
    text-align: left;
    margin: 0 25%;
}

#scoreMain h2 {
    font-size: 32px;
}

@media screen and (max-width: 1200px) {
    header {
        padding: 35px 4%;
    }
    
    #homepage main h2 {
        font-size: 36px;
    }
    
    #homepage main p {
        font-size: 22px;
        padding: 0 10%;
    }
    
    #startBtn {
        padding: 15px;
        border-radius: 18px;
        font-size: 24px;
    }
    
    #quizMain {
        text-align: center;
        margin: 0 10%;
    }
    
    #question {
        font-size: 28px;
    }
    #rightWrong {
        font-size: 36px;
    }
    
    #answerButtons {
        justify-content: center;
    }
    
    .answerBtn {
        font-size: 18px;
        padding: 6px;
        margin: 10px;
        border-radius: 4px;
        width: 250px;
    }
    
    #completeMain {
        text-align: left;
        margin: 0 10%;
    }
    
    #completePage h2 {
        font-size: 32px;
    }
    
    #completePage form, p {
        font-size: 18px;
    }
    
    #completePage input {
        font-size: 18px;
        border-radius: 5px;
    }
}    
